@model SnmpWebApp.Models.DeviceViewModel

@{
    ViewData["Title"] = "Consultar Dispositivo";
}

<h2>Consultar Dispositivo SNMP</h2>

<form asp-action="GetDevicePost" method="post">
    <div>
        <label for="Ip">IP:</label>
        <input type="text" id="Ip" name="Ip" required />
    </div>
    <div>
        <label for="OID">OID:</label>
        <input type="text" id="OID" name="OID" value="@Model.OID" required />
    </div>
    <button type="submit">Consultar</button>
</form>


@if (Model?.Result != null)
{
    <div>
        <h3>Resultado:</h3>
        <p>@Model.Result</p>
    </div>
}
