@model SnmpWebApp.Models.DeviceViewModel

@{
    ViewData["Title"] = "Consultar Informações no Dispositivo";
}

<h2>Consultar Dispositivo SNMP</h2>

<form asp-action="WalkDevice" method="post">
    <div>
        <label for="Ip">IP:</label>
        <input type="text" id="Ip" name="Ip" required />
    </div>
    <button type="submit">Consultar</button>
</form>

@if (Model != null)
{
    <div>
        <h3>Resultado:</h3>
        <dl>
            <dt>Device Name:</dt>
            <dd>@Model.DeviceName</dd>

            <dt>Username:</dt>
            <dd>@Model.Username</dd>

            <dt>Up Time:</dt>
            <dd>@Model.UpTime</dd>

            <dt>System Description:</dt>
            <dd>@Model.SysDescription</dd>
        </dl>
    </div>
}
