@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="div-GetDevice">
    <p>Pressione o botão abaixo para consultar um dispositivo.</p>
    <button class="btn btn-primary" onclick="window.location.href='/Device/GetDevice'">Consultar Dispositivo</button>

</div>
<div class="div-WalkDevice">
    <p>Pressione o botão abaixo para consultar informações em um dispositivo.</p>
    <button class="btn btn-primary" onclick="window.location.href='/Device/WalkDevice'">Consultar Informações Dispositivo</button>
</div>
