@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Dispositivo SNMP</h1>
    
</div>
<div class="div-GetDevice">
    <p>Pressione o botão abaixo para consultar um dispositivo.</p>
    <button class="btn btn-primary" onclick="window.location.href='/Device/GetDevice'">Consultar Dispositivo</button>

</div>
<div class="div-WalkDevice">
    <p>Pressione o botão abaixo para consultar informações em um dispositivo.</p>
    <button class="btn btn-primary" onclick="window.location.href='/Device/WalkDevice'">Consultar Informações Dispositivo</button>
</div>
