@model string

@{
    ViewData["Title"] = "Buscar Dispositivo via SNMP";
}

<h1>Buscar dispositivo via SNMP</h1>

<!-- Formulário para buscar o dispositivo -->
<form asp-controller="Device" asp-action="GetDevice" method="get">
    <p>Endereço do dispositivo</p>
    <input type="text" name="ip" placeholder="Digite o IP do dispositivo" required />

    <p>OID para fazer a busca</p>
    <input type="text" name="oidWrite" placeholder="Digite o OID" required />

    <br><br>
    <button type="submit">Buscar</button>
</form>

@if (!string.IsNullOrEmpty(Model))
{
    <div>
        <p>Resultado: @Model</p>
    </div>
}
else if (ViewData["ErrorMessage"] != null)
{
    <p>@ViewData["ErrorMessage"]</p>
}
else
{
    <p>Nenhum dispositivo encontrado.</p>
}
